<div class="margen text-rigth3">
  <%= form_for [@department, @employee],html: {class: "form-signin"} do |form| %>
    <% if @employee.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

        <ul>
        <% employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field enlinea">
      <%= form.label :Primer_nombre, class: 'ezquinadoo' %>
      <%= form.text_field :name, id: :employee_name,class: 'form-control' %>
    </div>

    <div class="field enlinea">
      <%= form.label :Apellido , class: 'ezquinadoo1' %>
      <%= form.text_field :last_name, id: :employee_last_name,class: 'form-control' %>
    </div>

    <div class="field enlinea">
      <%= form.label :Cedula , class: 'ezquinadoo2' %>
      <%= form.number_field :dni, id: :employee_dni,class: 'form-control' %>
    </div>

    <div class="field enlinea">
      <%= form.label :Celular , class: 'ezquinadoo3' %>
      <%= form.number_field :cellphone, id: :employee_cellphone,class: 'form-control' %>
    </div>

    <div class="field enlinea2">
      <%= form.label :Correo_electronico , class: 'ezquinadoo4'%>
      <%= form.text_field :bank, id: :employee_bank,class: 'form-control' %>
    </div>

    <div class="field enlinea">
      <%= form.label :Banco , class: 'ezquinadoo5'%>
      <%= form.text_field :bank, id: :employee_bank,class: 'form-control' %>
    </div>

    <div class="field enlinea">
      <%= form.label :Tipo_de_cuenta , class: 'ezquinadoo6' %>
      <%= form.text_field :account, id: :employee_account,class: 'form-control' %>
    </div>

    <div class="field enlinea2">
      <%= form.label :Nro_de_cuenta , class: 'ezquinadoo7' %>
      <%= form.text_field :number_account, id: :employee_number_account,class: 'form-control' %>
    </div>

    <div class="field enlinea">
      <%= form.label :Telefono_fijo , class: 'ezquinadoo8'%>
      <%= form.text_field :phone, id: :employee_phone,class: 'form-control' %>
    </div>

    <div class="field enlinea">
      <%= form.label :Telefono_de_emergencia , class: 'ezquinadoo9' %>
      <%= form.text_field :emergency_phone, id: :employee_emergency_phone,class: 'form-control' %>
    </div>

    <div class="field enlinea">
      <%= form.hidden_field :department_id, :value => params[:department_id] %>
    </div>


    <div class="actions haha">
      <%= form.submit "Guardar",class:'btn btn-lg btn-primary btn-block hola' %>
    </div>
  <% end %>
</div>