<div class="row margen">
  <%= form_tag @employees_path, method: 'get', class: 'col-12 navbar-form', role: 'search' do %>
    <div class="input-group">
     <%= text_field_tag :query, params[:query], size: 150, placeholder: "Search", class: "col-10 form-control search"%>
     <%= submit_tag '  ', class: 'col-1btn btn-primary btn-sm search' %><i class="fas fa-search"></i>
     <%= link_to "Cerrar sesion", destroy_company_session_path, method: :delete, class: "col-1 btn btn-danger" %>
    </div>
  <% end %>
</div>
<% if notice %>
<div class="alert alert-success alert-dismissable success">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <h6 id="notice"><%= notice %></h6>
</div>
<% end %>
<h1 class="solito">Nuevo empleado </h1>

<%= render 'form', employee: [@department, @employee]  %>
<h3 class="alrincon"><%= link_to '‹', departments_path, class:"flechita"  %>Empleados de <span class="colorido"><%= @department.name %></span> </h3>

<% if @employees.empty? %>
  <div class="images text-center card">
    <h4 class="abajito">Aun no hay empleados.</h4>
    <h7 class="masabajo">Puedes crear tu primer empleado utilizando el siguiente formulario.</h7>
  </div>
<% else  %>
  <table class="table margen">
    <thead>
      <tr>
        <th>Cedula</th>
        <th>Nombre</th>
        <th>Celular</th>
        <th colspan="3">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.dni %></td>
          <td><%= employee.name  %></td>
          <td><%= employee.cellphone  %></td>
          <td><%= %></td>
          <td><%= link_to "/departments/#{@department.id}/employees/#{employee.id}/edit" do %>
            <i class="fas fa-pencil-alt"></i>
          <% end %>
          </td>
          <td><%= link_to "/departments/#{@department.id}/employees/#{employee.id}", method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="hola fas fa-trash "></i>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>




