<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @employee.dni %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @employee.cellphone %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @employee.bank %>
</p>

<p>
  <strong>Account:</strong>
  <%= @employee.account %>
</p>

<p>
  <strong>Number account:</strong>
  <%= @employee.number_account %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employee.phone %>
</p>

<p>
  <strong>Emergency phone:</strong>
  <%= @employee.emergency_phone %>
</p>


<%= link_to 'Edit', edit_department_employee_path(@employee) %> |
<%= link_to 'Back', departments_path%>
