<div class="margen text-center2">
 <h4 class=" mb-2 ">Registro de compañias</h4>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: {class: "form-signin"}) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :Correo_electronico, class: 'ezquinado'   %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :Nombre_de_la_compañia, class: 'ezquinadocompany'  %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :Rif_de_la_compañia, class: 'ezquinado'  %><br />
      <%= f.text_field :rif, autofocus: true, autocomplete: "name", class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :contraseña, class: 'ezquinadopassword' %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres minimos)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control'%>
    </div>

    <div class="field">
      <%= f.label :Confirmar_contraseña, class: 'ezquinadopasswordslow'  %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="actions haha">
      <%= f.submit "Registrase", class: 'btn btn-lg btn-primary btn-block hola'  %>
    </div>

    <%= render "devise/shared/links" %>
</div> 
 <% end %>




