<div class="margen text-rigth">
  <%= form_with(model: department, local: true ,html: {class: "form-signin"}) do |form| %>
    <% if department.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>

        <ul>
        <% department.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :Nombre_del_departamento  , class: 'ezquinado3' %>
      <%= form.text_field :name, id: :department_name,class: 'form-control' %>
    </div>

    <div class="actions haha">
      <%= form.submit "Guardar" ,class:'btn btn-lg btn-primary btn-block hola' %>
    </div>
</div>
  <% end %>


