<div class="row margen">
  <%= form_tag departments_path, method: 'get', class: 'col-12 navbar-form', role: 'search' do %>
    <div class="input-group">
     <%= text_field_tag :query, params[:query], size: 150, placeholder: "Search", class: "col-10 form-control search"%>
     <%= submit_tag '  ', class: 'col-1btn btn-primary btn-sm search' %><i class="fas fa-search"></i>
     <%= link_to "Cerrar sesion", destroy_company_session_path, method: :delete, class: "col-1 btn btn-danger" %>
    </div>
  <% end %>
</div>
<% if notice %>
<div class="alert alert-success alert-dismissable success">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <h6 id="notice"><%= notice %></h6>
</div>
<% end %>
<h1 class="solito">Editar departmento</h1>

<%= render 'form', department: @department %>
<h3 class="alrincon">Departmentos</h3>


<table class="table margen">
  <thead>
    <tr>
      <th>Nombre del departamento</th>
      <th>Cantidad de empleados</th>
      <th colspan="9">&nbsp&nbsp&nbsp&nbsp&nbspAcciones</th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= link_to department.name, department_employees_path(department)%></td>
        <td class="text-center"><%= @employees.where(:department_id =>department.id).length  %></td>
        <td><%= link_to department_employees_path(department) do %>
          <i class="fas fa-users"></i>
        <% end %>
        </td>
        <td><%= link_to edit_department_path(department) do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        </td>
        <td><%= link_to department, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fas fa-trash"></i>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


