<div class="margen text-center">
 <h4  class=" mb-2 ">Iniciar sesion</h4>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name),html: {class: "form-signin"}) do |f| %>
      <div class="field">
        <%= f.label :Correo_electronico , class: 'ezquinado'  %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :contraseña , class: 'ezquinado1'   %><br />
        <%= f.password_field :password, autocomplete: "off",class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me , class: 'ezquinado2'   %>
          <%= f.label :Recordarme  %>
        </div>
      <% end -%>

      <div class="actions haha">
        <%= f.submit "Ingresar", class: 'btn btn-lg btn-primary btn-block hola'  %>
      </div>

    <%= render "devise/shared/links"%>
</div>
  <% end %>




