/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.margen.text-center {
    width: 25%;
    text-align: center;
    margin-left: 39%;
    margin-top: 10%;
    border: solid rgb(245, 243, 243);
    border-width: 1px;
    padding: 2%;
    border-radius: 5px;
}

.solito {
    font-size: 2rem;
    margin-top: 0%;
    margin-left: 64%;
    position: absolute;
}

.margen.text-rigth {
    width: 25%;
    text-align: center;
    margin-left: 64%;
    margin-top: 3.2%;
    border: solid rgb(245, 243, 243);
    border-width: 1px;
    padding: 2%;
    border-radius: 5px;
    position: absolute;
}

.margen.text-rigth3 {
    width: 29%;
    text-align: center;
    margin-left: 64%;
    margin-top: 3.2%;
    border: solid rgb(245, 243, 243);
    border-width: 1px;
    padding: 2%;
    border-radius: 5px;
    position: absolute;
}

.field.enlinea {
    display: inline-block;
    width: 49%;
    margin-right: 0.3%;
    font-size: 0.9rem;
}

.svg-inline--fa.fa-users.fa-w-20 {
    box-sizing: content-box;    
    padding: 0.3rem;    
    background: rgb(0, 103, 158);
    border: 0.1rem solid rgb(0, 103, 158);
    border-radius: 0.3rem ;
    color:white;
    margin-right: 0%;
}

.svg-inline--fa.fa-pencil-alt.fa-w-16 {
    box-sizing: content-box;    
    padding: 0.3rem;    
    background: white;
    border: 0.1rem solid rgb(0, 103, 158);
    border-radius: 0.3rem ;
    color:rgb(0, 103, 158);
    margin-left: -60%;
}

.svg-inline--fa.fa-trash.fa-w-14 {
    box-sizing: content-box;    
    padding: 0.3rem;    
    background: white;
    border: 0.1rem solid rgb(211, 16, 16);
    border-radius: 0.3rem ;
    color:rgb(211, 16, 16);
    margin-left: -120%;
}

.svg-inline--fa.fa-trash.fa-w-14.hola{
    margin-left: -150%;
}

.svg-inline--fa.fa-search.fa-w-16 {
    position: absolute;
    margin-left: 81.7%;
    margin-top: 28%;
    color: white;
}

a.flechita {
    color: rgb(22, 99, 208);
    text-decoration: none;
    margin-right: 0.6%;
    font-size: 2.5rem;
}

#notice {
    margin-top: 1%;
    color: rgb(3, 99, 3);
}
.abajito {
    margin-top: 80%;
}

.masabajo {
    font-size: 0.8rem;
}

.colorido {
    color: rgb(0, 166, 255);
}

.images.text-center.card {
    margin-left: 10%;
    margin-right: 38%;
    height: 25rem;
    background-image: url("fotito.jpg");
    background-repeat: no-repeat;
    background-position: 9rem 1rem;
    background-size: 25rem 17rem;
}



.field.enlinea2 {
    display: inline-block;
    width: 100%;
}

.margen.text-center2 {
    width: 25%;
    text-align: center;
    margin-left: 39%;
    margin-top: 4%;
    border: solid rgb(245, 243, 243);
    border-width: 1px;
    padding: 2%;
    border-radius: 5px;
}

.row.margen {
    margin-left: 2%;
    margin-right: 2%;
    border: solid rgb(247, 245, 245);
    border-width: 1px;
    padding: 1%;
    border-radius: 5px;
    background: rgb(247, 245, 245);
}

.ezquinado3 {
    margin-left: -30%;
    font-size: 1rem;
}

.ezquinadoo {
    margin-left: -38%;
}

.ezquinadoo1 {
    margin-left: -68%;
}

.ezquinadoo2 {
    margin-left: -70%;
}

.ezquinadoo3 {
    margin-left: -70%;
}

.ezquinadoo4 {
    margin-left: -60%;
}

.ezquinadoo5 {
    margin-left: -75%;
}
.ezquinadoo6 {
    margin-left: -43%;
}

.ezquinadoo7 {
    margin-left: -68%;
}

.ezquinadoo8 {
    margin-left: -54%;
}

.ezquinadoo9 {
    margin-left: -4%;
}

.alrincon {
    margin-left: 10%;
    margin-right: 20%;
}

.table.margen {
    margin-left: 10%;
    margin-right: 20%;
    width: 50%;
    font-size: 0.9rem;
}

.alert.alert-success.alert-dismissable.success {
    margin-left: 25%;
    margin-right: 27%;
    text-align: center;
}

.form-control.search {
    display: flex;
    display: inline-block
}

.col-1.btn.btn-danger {
    margin-left: 6%;
    max-width: 10%;
}

.ezquinado1 {
    text-align: left;
    margin-left: -70%;
}

.col-1btn.btn-primary.btn-sm.search {
    margin-left: 0.7%;
    width: 2.5rem;
    border-radius: 10px;
}

.ezquinado {
    margin-left: -53%;
}

.ezquinado2 {
    margin-left: -60%;
    margin-bottom: -50%;
}

a.ezquinado3 {
    margin-left: -80%;
    color: rgb(47, 47, 220);
    text-decoration: none;
    font-size: 0.9rem;
    padding-top: -10%;
    
}

.btn.btn-lg.btn-primary.btn-block.hola {
    padding: 0.2rem;
}

.actions.haha {
    margin-bottom: -1%;
}

.ezquinadopasswordslow {
    margin-left: -43%;
}

.ezquinadopassword {
    margin-left: -9%;
}

.ezquinadocompany {
    margin-left: -39%;
}